/* Estilo geral */
body{
		font-family: Arial, Helvetica, sant-serif;
		background: #000;
}
p{
    
}
img{
    display: block;
    max-width: 100%;
}

/* Header */

/* Footer */

/* Animações */






















