@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap");
/* Estilo geral */
body {
  font-family: "ZCOOL XiaoWei", serif;
  background: url("../img/abstraction-triangle-geometry-pattern-cover-black.png");
  background-color: #000;
  background-size: 150%;
  letter-spacing: 2px;
  color: #f2f2f2;
  text-shadow: 0px 0px 5px #000;
}

.container {
  width: 300;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}

h1,
h2 {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 20px;
  text-align: left;
  position: relative;
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 40px;
  }
}

h1 {
  margin-top: 120px;
}

@media only screen and (min-width: 768px) {
  h1::before {
    content: "";
    height: 200px;
    border-left: solid 2px #fff;
    position: absolute;
    width: 20px;
    top: 100px;
    z-index: 10;
    left: -20px;
  }
}

h3 {
  text-align: center;
  font-size: 24px;
}

h4 {
  font-size: 20px;
  margin: 20px;
}

a {
  color: #fff;
}

span {
  margin: 0 10px;
  color: #6c6c6c;
}

p {
  margin: 5px 20px;
}

img {
  display: block;
  max-width: 100%;
}

#galeria,
#como-trabalhamos,
#contato {
  margin-top: 100px;
}

/* Header */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #f2f2f2;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.botao-menu {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 25px;
  left: 35px;
}

@media only screen and (min-width: 768px) {
  .botao-menu {
    display: none;
  }
}

.rotate .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.rotate .bar2 {
  opacity: 0;
}

.rotate .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  opacity: 0;
  display: none;
  background: #000000de;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  text-align: center;
  padding-top: 50%;
}

.menu.ativo {
  opacity: 1;
  display: block;
}

.menu a {
  padding: 10px;
  display: block;
  color: #f2f2f2;
  font-size: 40px;
  letter-spacing: 10px;
}

@media only screen and (min-width: 768px) {
  .menu {
    padding: 20px;
    width: 50%;
    opacity: 1;
    display: block;
    background: none;
    height: 100px;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menu a {
    font-size: 18px;
    margin: 0 10px;
    letter-spacing: 5px;
  }
}

.social {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.social a {
  padding: 10px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social img {
  max-width: 30px;
}

/* Inicio */
#inicio {
  position: relative;
  background: url("../img/jake-davies-B_FkAD6JNTk-unsplash.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 20px 20px #000, inset 0px 0px 20px 20px #000;
          box-shadow: 0px 0px 20px 20px #000, inset 0px 0px 20px 20px #000;
}

#inicio #svg-tattoo {
  min-width: 250px;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 2s ease forwards 2s;
          animation: fill 2s ease forwards 2s;
}

#inicio #svg-tattoo path:nth-child(1),
#inicio #svg-tattoo path:nth-child(2) {
  stroke-dasharray: 4000px;
  stroke-dashoffset: 4000px;
  -webkit-animation: line-animation 2s ease forwards;
          animation: line-animation 2s ease forwards;
}

#inicio #svg-tattoo path:nth-child(3),
#inicio #svg-tattoo path:nth-child(4) {
  stroke-dasharray: 5000px;
  stroke-dashoffset: 5000px;
  -webkit-animation: line-animation 2s ease forwards 0.3s;
          animation: line-animation 2s ease forwards 0.3s;
}

#inicio #svg-tattoo path:nth-child(5),
#inicio #svg-tattoo path:nth-child(6) {
  stroke-dasharray: 5000px;
  stroke-dashoffset: 5000px;
  -webkit-animation: line-animation 2s ease forwards 0.6s;
          animation: line-animation 2s ease forwards 0.6s;
}

#inicio #svg-tattoo path:nth-child(7),
#inicio #svg-tattoo path:nth-child(8) {
  stroke-dasharray: 5000px;
  stroke-dashoffset: 5000px;
  -webkit-animation: line-animation 2s ease forwards 0.9s;
          animation: line-animation 2s ease forwards 0.9s;
}

#inicio #svg-tattoo path:nth-child(9),
#inicio #svg-tattoo path:nth-child(10),
#inicio #svg-tattoo path:nth-child(11) {
  stroke-dasharray: 5000px;
  stroke-dashoffset: 5000px;
  -webkit-animation: line-animation 2s ease forwards 1.2s;
          animation: line-animation 2s ease forwards 1.2s;
}

#inicio #svg-tattoo path:nth-child(12),
#inicio #svg-tattoo path:nth-child(13),
#inicio #svg-tattoo path:nth-child(14) {
  stroke-dasharray: 5000px;
  stroke-dashoffset: 5000px;
  -webkit-animation: line-animation 2s ease forwards 1.5s;
          animation: line-animation 2s ease forwards 1.5s;
}

@-webkit-keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

#inicio .seta-baixo {
  position: absolute;
  left: 48%;
  bottom: 70px;
}

#inicio .seta-baixo img {
  width: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 8px;
  border-radius: 50%;
  -webkit-animation: shadow-pulse 1s infinite;
          animation: shadow-pulse 1s infinite;
}

#inicio .seta-baixo img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }
}

#inicio .credit-copy {
  color: #6c6c6c;
  font-size: 12px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* Como Trabalhamos */
.diagrama {
  display: block;
}

.diagrama h4 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .diagrama {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.diagrama div {
  margin: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.diagrama div picture .seta {
  width: 20px;
  margin: 10px auto;
}

@media only screen and (min-width: 768px) {
  .diagrama div picture .seta {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.diagrama div picture .icone {
  width: 50px;
  margin: 10px auto;
}

.diagrama div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

/* Galeria */
.galeria {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galeria img {
  margin: 2.5px;
  width: 250px;
  border: solid 2px #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.galeria img:hover {
  -webkit-animation: shadow-pulse 1s infinite;
          animation: shadow-pulse 1s infinite;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
  z-index: 100;
}

/* Contato */
.contato .map {
  width: 100%;
  height: 300px;
}

.contato h3 {
  font-size: 35px;
}

.contato h3,
.contato h4 {
  margin: 20px;
}

.contato .unidade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 40px;
}

@media only screen and (min-width: 768px) {
  .contato .unidade {
    border-left: solid 2px #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contato .unidade::before {
    content: "";
    height: 200px;
    border-bottom: solid 2px #fff;
    position: absolute;
    width: 70%;
    height: 20px;
    z-index: 10;
    left: 20px;
  }
}

.footer-background {
  position: relative;
  background: url("../img/jake-davies-lEL5auXYrU0-unsplash.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 20px 20px #000, inset 0px 0px 20px 20px #000;
          box-shadow: 0px 0px 20px 20px #000, inset 0px 0px 20px 20px #000;
}

/* Footer */
footer {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  color: white;
}

@media only screen and (min-width: 768px) {
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer img {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */